.main-block {
    display: flex;
    justify-content: space-between;
    padding: 70px 15px;
}

.main-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__text {
    margin: 0;
    font-size: 50px;
    text-align: center;
}

.main__text_num {
    margin-top: 7px;
}

@media screen and (min-width: 1500px) {
    .main__text {
        font-size: 64px;
        line-height: 1.15;
    }
}
