.products {
  text-align: center;
  margin-bottom: auto;
  width: 63%;
}

.products__title {
  font-size: 48px;
  margin: 0;
  letter-spacing: -0.01em;
}

.products__subtitle {
  font-family: 'YandexSansDisplay', Arial, sans-serif;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin: 4px 0 0 0;
}

.products__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 11px 0;
}

.products__list-item {
  background-color: #F3F0E9;
  margin: 0 9px;
  padding: 10px 23px;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
}

.products__list-item_pack {
  color: #fff;
  display: block;
}

.cards {
  margin-top: 32px;
  padding: 0;
}

.products_hidden {
  display: none;
}