.button {
    border: none;
    border-radius: 20px;
    background-color: #F3F0E9;
}

.button_active {
    background-color: #FED42B;
}

.button__text {
    font-size: 35px;
    max-width: 200px;
    margin: 0;
    padding-top: 190px;
    padding-bottom: 190px;
}
