.keyboard-button {
    background-color: transparent;
    border: none;
    box-shadow: 0 5px 46px rgba(0, 0, 0, 0.12), 0 7px 15px rgba(0, 0, 0, 0.12);
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 30px;
    position: relative;
}

.text-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard-button-text__icon {
    margin-right: 15px;
}

.keyboard-button__text {
    margin: 0;
    text-align: center;
    font-size: 25px;
}

.button__back {
    background-color: black;
    color: white;
    border: none;
    font-size: 18px;
    padding: 15px 80px;
    border-radius: 20px;
    text-decoration: none;
    position: absolute;
    left: 24px;
}

.edit__container {
    display: flex;
    gap: 12px;
    position: absolute;
    right: 56px;
}

.edit__icon {

}

.edit__text {
    margin: 0;
    font-size: 28px;
    font-weight: 500;

}

@media screen and (min-width: 1500px) {
    .keyboard-button {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 1500px) {
    .keyboard-button__text {
        font-size: 28px;
        line-height: 1.1;
    }
}

@media screen and (min-width: 1500px) {
    .button__back {
        font-size: 28px;
        line-height: 1.1;
        padding: 20px 108px;
    }
}
